<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    package="br.ufpr.bioinfo.bak4bio.android"
    android:versionCode="4"
    android:versionName="1.0.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="br.ufpr.bioinfo.bak4bio.android.control.B4BSplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.ufpr.bioinfo.bak4bio.android.control.B4BMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="br.ufpr.bioinfo.bak4bio.android.control.TogowsSearchAtivity"
            android:label="@string/search_title"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="br.ufpr.bioinfo.bak4bio.android.control.TogowsDetailActivity"
            android:label="@string/detail_title"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="br.ufpr.bioinfo.bak4bio.android.control.B4BLoginActivity"
            android:label="@string/login_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name="br.ufpr.bioinfo.bak4bio.android.control.BioBoxSearchActivity"
            android:label="@string/list_file_title"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="br.ufpr.bioinfo.bak4bio.android.control.BlastSearchActivity"
            android:label="@string/blast_search_title"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="br.ufpr.bioinfo.bak4bio.android.control.BlastDetailActivity"
            android:label="@string/blast_detail_title"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="br.ufpr.bioinfo.bak4bio.android.control.BlastNewActivity"
            android:label="@string/blast_new_title"
            android:screenOrientation="portrait">
        </activity>
        
    </application>

</manifest>